@page
@model ToDoList_CoreApi.Areas.Editor.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if(Model.TaskModel is null) { 

    return;
}

<p>
    <a asp-page="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskModel[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskModel[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskModel[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskModel[0].IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TaskModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @if(item.IsCompleted){<span class="bg-success text-white p-1 border border-black rounded-3">Hotovo</span>}
            </td>
            <td>
                <a  asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                <a  asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
